html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
        MY CSS
*/

/*
=====================================================================|

                    NAVBAR

=====================================================================|
*/

.navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    z-index: 1;
}

.navbar div {
    color: white;
}

.navbar a {
    text-decoration: none;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: 300;
    padding: 15px;
    color: white;
    margin-left: 10px;
}

.navbar .logo span:first-child {
    font-weight: 400;
}

.menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.menu div {
    padding: 8px;
    margin: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    transition: 300ms;
}

.icon, .menuButton {
    font-size: 1.7em;
    position: relative;
    top: -6px;
    transition: 300ms;
}

.menuButton {
    display: none;
}

.menu .dropdown:hover {
    background-color: rgb(95, 95, 95);
}

.icon:hover {
    color:rgb(223, 223, 223);
}

/*
=====================================================================|

                    MAIN CONTENT

=====================================================================|
*/

header {
    text-align: center;
    font-size: 3em;
    font-weight: 300;
    padding: 30px 30px;
    margin-top: 100px;
}

html {
    scroll-behavior: smooth;    
}

body {
    font-family: Roboto;
    background-color: rgb(249, 249, 249);
}

.aboutme {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}

.aboutme div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

h2 {
    width: 800px;
    margin-bottom: 30px;
    margin-top: 100px;
}
.aboutme div img {
    width: 250px;
    border: 1px solid rgb(95, 95, 95);
    padding: 2px;
    margin-bottom: 100px;
}

.aboutme div p {
    width: 650px;
    text-justify: auto;
    line-height: 1.5em;
    font-size: 1.2em;
    text-align: justify ;
    text-justify: inter-word;
}

.abilities h2, .aboutme h2, .portifolio h2, .contact h2 {
    font-size: 1.7em;
    padding: 5px;
    border-bottom: 1px solid rgb(65, 65, 65);
}

.abilities {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*
=====================================================================|

                    PORTIFOLIO

=====================================================================|
*/



.portifolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-1 .colorbg-1 {
    position: absolute;
    top: 20px; left: -50px;
    width: 420px; height: 220px;
    background-color: rgba(191, 216, 184, .5);
    border-radius: 15px;
    z-index: -1;
    transition: 500ms;
}

.project-1 .colorbg-2 {
    position: absolute;
    top: 75px; left: -20px;
    width: 420px; height: 220px;
    background-color: rgba(231, 234, 181, .5);
    border-radius: 15px;
    z-index: -1;
    transition: 500ms;
}

.project-1 .description h3 {
    font-size: 1.5em;
    border-bottom: 1px solid rgb(65, 65, 65);
    padding-bottom: 2px;
    margin-bottom: 5px;
    width: 200px;
}

.description {
    width: 500px;
    margin: 50px;
    margin-left: 100px;
    padding: 30px;
    padding-top: 0;
}

.description p {
    line-height: 1.8em;
    text-align: justify;
    text-justify: inter-word;
}

.project-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 50px;
    margin-bottom: 100px;
}

.box{
    position: inherit;
    width: 350px;  height: 230px;
    display: inline-block;
    padding-top: 40px;
}

.box .front{
    position: inherit;
    width: 100%;  height: 100%;
    background: #262626;
    backface-visibility: hidden;
    transform: perspective(1000px) rotateY(0deg);
    transition: 500ms;
    border-radius: 15px;
}
.box:hover .front{
    transform: perspective(1000px) rotateY(180deg);
}
.box .back{
    position: relative;
    top: -230px;   left: 0;
    width: 100%;  height: 100%;
    background: #F1F7E7;
    backface-visibility: hidden;
    transform: perspective(1000px) rotateY(-180deg);
    transition: 500ms;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box:hover .back{
    transform: perspective(1000px) rotateY(0deg);
}

.box:hover ~ .colorbg-1 {
    top: 17px; left: -55px;
    background-color: rgba(174, 204, 166, 0.5);
}

.box:hover ~ .colorbg-2 {
    top: 78px; left: -15px;
    background-color: rgba(218, 221, 165, 0.5);
}




/**********  front  **************/

.box .front img{
    width: 350px;  height: 230px;
    border-radius: 15px;
}

/**********  back  **************/

.box .back h3{
    font-size: 1.2em;
    color: #262626;
    text-align: center;
    padding: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(65, 65, 65);
    width: 100px;
}

.box .back .row img {
    margin: 0px;
    padding: 20px;
    height: 50px;
    transition: 200ms;
}

.cardbtn {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    position:relative;
    top: -40px;
    width: 100px;
    background-color: rgb(52, 95, 187);
    font-weight: 600;
    transition: 300ms;
    letter-spacing: 2px;
}

.cardbtn:hover {
    background-color: rgb(21, 68, 131);
    color: white;
    cursor: pointer;
}




/*
=====================================================================|

                    CONTACT

=====================================================================|
*/

.contact {
    background-color: rgb(226, 222, 222);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.contact h2 {
    margin-top: 10px;
}

.contact div {
    display: flex;
    flex-direction: row;
}

.contact .icon {
    color: #01937C;
    font-size: 3em;
}
.contact a{
    margin-right: 100px;
    margin-left: 100px;
}

.contact .icon:hover {
    color: #036d5d;
    position: relative;
    top: -8px;  
}


/*
=====================================================================|

                    RESPONSIVE SETTINGS

=====================================================================|
*/

@media (max-width: 900px) {
    .row {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .row .column {
        border: none;
    }
    h2 {
        width: 380px;
    }
    .aboutme div {
        flex-direction: column;
    }
    .aboutme div p {
        width: 380px;
    }
    .portifolio .galleryRow {
        display: flex;
        flex-direction: column;
    }
    .dropdown {
        display: none;
    }
    .menuButton {
        display: block;
    }
    .navbar .logo{
        font-size: 1.2em;
    }
}

/*
=====================================================================|

                    SKILLS

=====================================================================|
*/

a {
    text-decoration: none;
}

.techlogo {
    height: 115px;
    padding: 30px;
    padding-bottom: 10px;
    transition: all 300ms;
}

.toprow {
    margin-right: 60px;
    margin-left: 60px;
}

.techlogo:hover {
    filter: contrast(80%);
    position: relative;
    top: -2px;
    cursor: pointer;
}

